<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cosmo.dao.SysUserRoleMapper" >

  <!--通过用户id和身份id集合新增中间表关联-->
  <insert id="insertSysUserRoles" parameterType="java.util.HashMap">
    INSERT INTO  sys_user_role
    (user_id,role_id)VALUES
    <foreach collection="map.roleIds" index="index" item="roleId" separator=","  >
      (#{map.userId},#{roleId})
    </foreach>
  </insert>
</mapper>